@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 44 26% 96%;
    --foreground: 180 13% 20%;
    --card: 44 26% 96%;
    --card-foreground: 180 13% 20%;
    --popover: 44 26% 96%;
    --popover-foreground: 180 13% 20%;
    --primary: 180 13% 20%;
    --primary-foreground: 44 26% 96%;
    --secondary: 11 48% 56%;
    --secondary-foreground: 44 26% 96%;
    --muted: 44 15% 90%;
    --muted-foreground: 180 5% 40%;
    --accent: 11 48% 56%;
    --accent-foreground: 44 26% 96%;
    --highlight: 164 33% 36%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 13% 20%;
    --input: 180 13% 20%;
    --ring: 11 48% 56%;
    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border transition-colors duration-200;
  }
  body {
    @apply bg-background text-foreground antialiased selection:bg-primary selection:text-primary-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-archivo), sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: -0.02em;
  }
}
